@model OptimizePrime.ApplicantStudy

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ApplicantStudy</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StudiesDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudiesDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudiesLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudiesLocation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudiesDuration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudiesDuration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Applicant.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Applicant.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ApplicantStudiesID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
