@model IEnumerable<OptimizePrime.ApplicantStudy>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StudiesDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudiesLocation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudiesDuration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Applicant.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StudiesDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StudiesLocation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StudiesDuration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Applicant.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ApplicantStudiesID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ApplicantStudiesID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ApplicantStudiesID })
        </td>
    </tr>
}

</table>
